html {
    --dark-gray: #202020;
    --light-gray: #4d4d4d;
    --yellow: #ffd100;
    --lightYellow: #ffee32;
    --red: #e43e3e;
    
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    background-image: url(/svg/layered-peaks-haikeii.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h2
{ 
    margin: 0;
    color: white;
    font-size: 3rem;
}
p {
    color: white;
    font-size: 1.75rem;
    margin: 0;
}
.btn {
    background-color: var(--yellow);
    color: var(--dark-gray);
    padding: 1rem;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--lightYellow);
}
.checkbox {
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--light-gray);
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox:hover {
    background-color: var(--dark-gray);
}
.checkbox::after {
    content: '\e5ca';
    color: var(--yellow);
    font-size: 1rem;
    font-weight: bold;
    display: none;
}
.checkbox:checked::after {
    display: block;
}

