html {
    --dark-grey: #202020;
    --light-grey: #4d4d4d;
    --yellow: #ffd100;
    --lightYellow: #ffee32;
    
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
}
h2
{ 
    margin: 0;
    color: white;
    font-size: 3rem;
}
p {
    color: white;
    font-size: 1.75rem;
}
.btn {
    background-color: var(--yellow);
    color: var(--dark-grey);
    padding: 1rem;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--lightYellow);
}
.icons {
    position: absolute;
    right: 0.6125rem;
    top: 1.15rem;
    display: flex;
}
